body {
  background: linear-gradient(to bottom, #00bef0, #4fd2dc);
  background-attachment: fixed;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border: none;
  min-width: 600px;
}
.card .card-header {
  background-color: #084358;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 1.5rem 0 1.5rem 2.1rem;
}
.card .card-block {
  color: #959595;
  padding: 2.1rem;
}
.card .card-block .button-panel {
  display: flex;
  justify-content: space-between;
}
.card .card-block .button-panel #btnAttach {
  border-color: #959595;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 0;
}
.card .card-block .button-panel #btnAttach i {
  font-size: 25px;
  line-height: 36px;
}
.card .card-block .button-panel #btnSend {
  border: none;
  width: 100px;
  border-radius: 2rem;
  background-color: #12c8ed;
  color: #ffffff;
}
.card .card-block .button-panel #btnSend[disabled] {
  background-color: #e0e0e0;
  color: #959595;
}
.error {
  border: #ff0000 solid 2px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.35) !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.35) !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.35) !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.35) !important;
}
