body {
  background: -webkit-linear-gradient(top, #00bef0, #4fd2dc);
  background: linear-gradient(to bottom, #00bef0, #4fd2dc);
  background-attachment: fixed;
}
header {
  position: fixed;
  right: .5rem;
  top: .5rem;
}
header img {
  width: 45px;
  height: 25px;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.5s ease-in-out;
          transition: border-color 0.5s ease-in-out;
}
header img:hover {
  cursor: pointer;
  border-color: #084358;
}
.main {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card {
  margin-top: 8rem;
  margin-bottom: 2rem;
  border: none;
  min-width: 685px;
  max-width: 685px;
}
.card .card-header {
  background-color: #084358;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 1.5rem 0 1.5rem 2.1rem;
}
.card .card-block {
  color: #959595;
  padding: 2.1rem;
}
.card .card-block .gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.card .card-block .gallery .thumbnail {
  width: 110px;
  height: 110px;
  background-size: 110px 110px;
  background-repeat: no-repeat;
  margin: 0.5rem;
  border-radius: 0.3rem;
}
.card .card-block .gallery .thumbnail div {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.5s ease-in-out;
          transition: background-color 0.5s ease-in-out;
}
.card .card-block .gallery .thumbnail div span {
  display: none;
}
.card .card-block .gallery .thumbnail:hover {
  cursor: pointer;
}
.card .card-block .gallery .thumbnail:hover div {
  background-color: rgba(0, 0, 0, 0.3);
}
.card .card-block .gallery .thumbnail:hover div span {
  display: inline-block;
  background-color: #959595;
}
.card .card-block .gallery .thumbnail:hover div span i {
  color: #ffffff;
  font-size: 25px;
  line-height: 36px;
}
.card .card-block .button-panel {
  margin-top: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card .card-block .button-panel #inputFile {
  display: none;
}
.card .card-block .button-panel #btnAttach {
  cursor: pointer;
  border-color: #959595;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
}
.card .card-block .button-panel #btnAttach i {
  color: #959595;
  font-size: 25px;
  line-height: 36px;
}
.card .card-block .button-panel #btnAttach:hover {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.card .card-block .button-panel #btnSend {
  cursor: pointer;
  border: none;
  width: 100px;
  border-radius: 2rem;
  background-color: #12c8ed;
  color: #ffffff;
}
.card .card-block .button-panel #btnSend[disabled] {
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: #959595;
}
.error {
  border: #ff0000 solid 2px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.35) !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.35) !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.35) !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.35) !important;
}
