<!DOCTYPE html>
<html ng-app="emailComposerApp">
<head>
  <meta charset="utf-8">
  <title>Email Composer</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-cloak>

  <header ng-controller="languageController as vm">
    <img ng-src="images/Flag_of_UK.png" ng-click="vm.changeLanguage('en')" ng-model="vm.langEn"/>
    <img ng-src="images/Flag_of_Spain.png" ng-click="vm.changeLanguage('es')" ng-model="vm.langEs"/>
  </header>

  <div class="main">
    <email-composer></email-composer>
  </div>

  <!-- JavaScript -->
  <script type="text/javascript" src="js/lib/jquery-3.1.1.slim.min.js"></script>
  <script type="text/javascript" src="js/lib/tether.min.js"></script>
  <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/lib/angular.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-translate.min.js"></script>
  <script type="text/javascript" src="js/lib/ng-file-input.min.js"></script>
  <script type="text/javascript" src="js/app/app.module.js"></script>
  <script type="text/javascript" src="js/app/app.config.js"></script>
  <script type="text/javascript" src="js/app/multiple-emails.directive.js"></script>
  <script type="text/javascript" src="js/app/email-composer.component.js"></script>
  <script type="text/javascript" src="js/app/language.controller.js"></script>

</body>
</html>
